.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;
  border-radius: 0.375rem;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.375rem;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  /* background-color: #bbb; */
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  border-radius: 0.375rem;
  color: white;
  transform: rotateY(180deg);
}

#hacks-articles-section h1 {
  text-shadow: none;
}

.card-body {
  overflow: hidden; /* removes overflowing paragraph from sight */
}

@media screen and (max-width: 576px) {
  .flip-card {
    max-width: 250px;
  }

  #hacks-articles-section .row .col-12 {
    display: flex;
    justify-content: center;
  }
}
