/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,700;1,300&family=DM+Sans:wght@300&display=swap");

/* color for nav and footer : #acc8d7 */

/* .row {
  border: 2px solid black;
}

.col-12 {
  border: 2px solid white;
  background-color: lightgray;
} */

/* Global Styles */
body {
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
}

/* Buttons */
.btn-custom-filled {
  background-color: #ff7c00;
  color: white;

  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-custom-filled:hover {
  background-color: white;
  border: 1px solid #ff7c00;
  color: #ff7c00;
}
/* Navbar */

#navbar {
  position: fixed; /* Make navbar fixed so that hero text is centered and does not slide down when opening the page*/
  top: 0;
  width: 100%;
  z-index: 10;
}

#navbar .logo {
  width: 100px;
}

#navbar,
.dropdown-menu {
  background-color: #acc8d7;
}

/* Header */

#hero {
  position: relative;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#hero-video {
  position: relative;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: 32% 70%;
  opacity: 0.9;
  z-index: -1;
  overflow-y: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

#hero .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 1;
}

h1 {
  font-size: 2.1rem;
  text-shadow: 2px 2px 4px rgba(255, 124, 0, 0.8);
}

.lead {
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px rgba(255, 124, 0, 0.8);

  font-style: italic;
}

.fade-slide-text {
  opacity: 0; /* start invisible */
  transform: translateY(-100%); /* start off-screen to the top */
  animation: slideFadeIn 2s ease-out forwards;
}

@keyframes slideFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

main {
  min-height: 80vh;
  width: 100%;
}
