/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,700;1,300&family=DM+Sans:wght@300&display=swap");

/* color for nav and footer : #acc8d7 */

.row {
  border: 2px solid black;
}

.col-12 {
  border: 2px solid white;
  background-color: lightgray;
}

/* Global Styles */

h1,
h2,
h3 {
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
}

#navbar .logo {
  width: 100px;
}

#navbar,
.dropdown-menu {
  background-color: #acc8d7;
}

/* Header */

#hero-video {
  position: relative;
  height: 100vh;
  min-width: 100%;
  object-fit: cover;
  object-position: 32% 70%;
  opacity: 0.9;
}

main {
  min-height: 80vh;
  width: 100%;
}
