/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,500;0,700;1,300&family=DM+Sans:wght@300&display=swap");

:root {
  --primary-color: #ff7c00;
  --secondary-color: #acc8d7;
  --secondary-color-dark: #85a5b6;
  --background-color: rgba(138, 26, 64, 0.2);
  --accent-color: #8a1a40;
  --font-family-heading: "Work Sans", sans-serif;
  --font-family-body: "DM Sans", sans-serif;
  --text-color-dark: #36454f;
  --text-color-light: #ffffff;
}

/* Global styles */
.work-sans-italic-subheading {
  font-family: "Work Sans", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 1.5rem;
}

/* Header */

#header-form {
  position: relative;
  top: 60px;
}

header div h1 {
  text-shadow: none;
  text-transform: none;
}

h2 {
  text-transform: capitalize;
}

header p {
  text-align: justify;
}

/* Main for empty pages */

section {
  position: relative;
  top: 60px;
}
